@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #101010 white;
}


/* header stction start  */
.btn_main{
  transition: transform 0.3s ease;
}

.btn_main:hover  .btn_content{
  transform: translateX(40px);

}
.btn_main:hover .icon{
  opacity: 1;
  rotate: 45deg;
}


/* hero section start  */

.all_btn_main_{
  transition: transform 0.3s ease;
}

.all_btn_main:hover  .all_btn_content {
  transform: translateX(52px);
}

.all_btn_main:hover .all_icon{
  opacity: 1;
  rotate: 45deg;
}

