@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scrollbar-width: thin;
  scrollbar-color: #101010 white; */
}

::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(125deg, #000 0%, #000 100%);
  border-radius: 10px;
}

/* header stction start  */
.btn_main {
  transition: transform 0.3s ease;
}

.btn_main:hover .btn_content {
  transform: translateX(40px);
}
.btn_main:hover .icon {
  opacity: 1;
  rotate: 45deg;
}

/* hero section start  */

.all_btn_main_ {
  transition: transform 0.3s ease;
}

.all_btn_main:hover .all_btn_content {
  transform: translateX(52px);
}

.all_btn_main:hover .all_icon {
  opacity: 1;
  rotate: 45deg;
}

/* about section start  */

.video-area {
  z-index: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

video.wb-video-styles-controller {
  z-index: -1;
  width: 90%;
  object-fit: cover;
  object-position: 50% 50%;
  justify-content: center;
  align-items: center;
}

video {
  vertical-align: baseline;
  display: inline-block;
}

.case-studies-thumbnail-block {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.about_link:hover .case-studies-thumbnail-block {
  clip-path: polygon(5% 10%, 100% 2%, 100% 98%, 5% 98%);
}

.about_link:hover .main_icon_div .icon_yellow {
  transform: translateY(40px);
}

.about_link .icon_white {
  visibility: hidden;
}
.about_link:hover .icon_white {
  visibility: visible;
  transform: translateY(40px);
}

/* We are section start  */

.center-video {
  z-index: -1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.w-embed:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-embed:after {
  clear: both;
}
.w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.counter-single-item:hover {
  clip-path: polygon(5% 5%, 95% 2%, 95% 95%, 5% 98%);
}

.counter-single-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* service we offer section start  */

.acording_header:hover .number_text {
  color: #7d7d82;
}
.acording_header:hover .main_text {
  color: white;
}

/* blog section start  */

.blog-title {
  display: inline;
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 2px), #101010 2px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

/* ==================================== */

.service_bg_main {
  background-image: linear-gradient(to bottom, #231f1e15, #101010),
    url(../app/img/service/service_bg_main.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.work_bg_main {
  background-image: linear-gradient(to bottom, #231f1e15, #101010),
    url(../app/img/service/service_bg_main.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
